<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Demo</title>
</head>
<body>
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">تاریخ اتمام</th>
                        <th scope="col">تاریخ شروع</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">دسته بندی</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let i in data) {%>
                    <tr>
                        <th scope="row"><% i %>></th>
                        <td><%= data[i].title %>></td>
                        <td><%= data[i].expire %>></td>
                        <td><%= data[i].start %></td>
                        <td><%= data[i].description %></td>
                        <td><%= data[i].catId %></td>
                        <td>
                            <button class="btn btn-danger"  onclick="remove(`<%= data[i]._id %>`)">حذف</button>
                            <a class="btn btn-info" href="/admin/quiz/edit/<%= data[i]._id %>">ویرایش</a>
                        </td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function remove(id) {
        axios.get('/admin/quiz/delete/'+id)
            .then(function (response) {
                window.location.reload();
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
</body>
</html>